:root {
    --pageFont: "Bowlby One SC", sans-serif;
    /* --borderRadius: 0.5rem; */
    /* --letterSpacing: 1px; */
    /* --max-width: 1170px; */
    /* --fixed-width: 750px; */
    --transition: 0.5s ease-in-out all;
    --height: 500px;
}

* {
    padding: 0px;
    margin: 0px;
    color: white;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}

body {
    font-family: var(--pageFont);
    /* idk */
}

.label {
    font-size: 24px;
}

.menu {
    text-align: center; 
    place-items: center;
    color: white;
    background-color: black;
    font-size: 0px;
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.menu .btn {
    color: white;
    background-color: black;
    font-size: 16px;
    border: transparent;
    text-align: center;
    display: inline;
    padding: 20px 15px 15px 15px;
    /* transition: all 0.3s ease; */
    transition: var(--transition);
    cursor: pointer;
}

.menu .btn:hover {
    color: lightblue;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.menu hr {
    margin: auto;
    width: 80%;
    color:white;
}

.aboutMe {
    background: black;
    height:100vh;
} 

.aboutMe .label h1{
    color: limegreen;
    text-align: left;
    padding-left: 10%;
    padding-top: 80px;
    background-color: black;
}

.aboutMe p {
    font-size: 20px;
    padding: 0px 10%;
}

.aboutMe .scollers{
    display: grid;
    text-align: center;
    /* height: var(--height); */
    /* height: 83vh; */
    height: 60vh;
    background-color: black;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    
}


.aboutMe .scollers .scroll {
    grid-template-rows: min-content;
    scroll-snap-align: center;
}

.projectModals .label h1{
    color: #BF40BF;
    text-align: left;
    padding-left: 10%;
    padding-top: 60px;
}


.projectModals {
    /* height: 700px; */
    height: 100vh;
    background: #13294B;
    text-align: center;
}

.projectModals .modal {
    background: grey;
    width: 20%;
    border-radius: 1rem;
    text-align: left;
    transform: translateY(50px);
    margin: 0px 20px 20px;
    /* height: 250px; */
    height: 33vh;
    display: inline-block;
    border: 1px solid #BF40BF;
}

.modaltext {
    padding: 15px 20px 0px;
}

h3.modaltext {
    padding: 15px 25px 10px;
}

.projectModals hr {
    width: 90%;
    margin: auto;
    /* border: 1.5px solid white; */
    border: 1.5px solid white;
    border-radius: 0.75rem;
}

.projectModals .languages {
    margin: 20px 25px 25px;
    background: darkgray;
    border-radius: 0.9rem;
    width: 120px;
    height: 30px;
}

.languages img {
    width: 20%;
    height: 70%;
    margin-top: 4px;
    margin-left: 8px;
}

.languages span {
    position:absolute;
    /* transform: translateY(5px);
    transform: translateX(5px); */
    transform: translate(5px, 5px);
}
.modalbutton {
    text-align: center;
}

.modalshow {
    cursor: pointer;
    height: 30px;
    width: 70%;
    color: white;
    border-radius: 1rem;
    background-color: darkgray;
    border: transparent;
    margin: auto;
    transition: all 0.6s ease-in-out;
}

.modalshow:hover {
    font-size: 16px;
    color: lightblue;
    background:  #13294B;
    transition: all 0.4s ease-in-out;
}

.modalpopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid white;
    border-radius: 30px;
    z-index: 10;
    background-color: purple;
    color:black;
    width: 350px;
    max-width: 80%;
} 

.modalpopup.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-weight: bold;
}

.modal-header .modal-close {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
    font-size: 26px;
}

.modal-body {
    text-align: left;
    padding: 10px 15px;
    margin-right: 5px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.hobbies {
    background: gray;
    text-align: center;
    /* height: 700px; */
    height: 100vh;
}

.hobbies .label h1{
    color: #ade6d8;
    text-align: left;
    padding-left: 10%;
    /* padding-top: 30px; */
    padding-top: 60px;
}

.hobbies .scollers{
    display: grid;
    /* width: 450px; */
    width: 57vh;
    margin: auto;
    background: #0C5856;
    text-align: center;
    /* height: var(--height); */
    height: 62vh;
    place-items: center;
    transform: translateY(40px);
    border-radius: 75px;
    grid-auto-flow:row;
    grid-auto-rows: 100%;
    overflow-y: scroll;
    /* overflow: hidden; */
    overscroll-behavior-inline: contain;
    scroll-snap-type: y mandatory;
    border: 4px solid white;
}

.hobbies .scollers .scrolldown {
    scroll-snap-align: center;
}

.hobbies .scollers p {
    text-align: center;
    margin: 0px 35px;
}

.scrolldown {
    grid-template-rows: min-content;
}

.hobbies .scollers::-webkit-scrollbar {
    width: 10px;
}
  
.hobbies .scollers::-webkit-scrollbar-track {
    background: transparent;
  }
  
.hobbies .scollers::-webkit-scrollbar-thumb {
    background: #ade6d8;
    border-radius: 0.8rem;
  }
  
  /* Handle on hover */
.hobbies .scollers::-webkit-scrollbar-thumb:hover {
    background: #86cfbd;
    border-radius: 0.8rem;
  }

.hobbies .scollers::-webkit-scrollbar-track-piece:end {
    margin-bottom: 70px; 
}

.hobbies .scollers::-webkit-scrollbar-track-piece:start {
    margin-top: 70px;
}

.connect {
    height: 100vh;
    display: block;
    text-align: center;
    background: #964B00;
    padding-bottom: 50px;
}

.connect .label h1{
    color: yellow;
    text-align: left;
    padding-left: 10%;
    padding-top: 60px;
}

form {
    display: inline-block;
    margin: auto;
    margin-top: 50px;
    /* width: 400px;
    height: 400px; */
    width: 51vh;
    height: 51vh;
    border: 3px solid white;
    border-radius: 0.5rem;
}

.form-group {
    padding: 8px;
}

.connect input {
    /* width: 350px;
    height: 25px; */
    width: 44vh;
    height: 3.2vh;
    border-radius: 0.5rem;
    border: transparent;
    color:black;
    padding-left: 8px;
}

.connect textarea {
    /* width: 350px; */
    width: 44vh;
    border-radius: 0.5rem;
    border: transparent;
    color:black;
    padding-left: 8px;
}

.main-btn {
    width: 60%;
    height: 30px;
    background: yellow;
    color: black;
    border-radius: 0.75rem;
    border: 1px solid white;
}

.main-btn:hover {
    transition: all 0.3s ease-in-out;
    background: #482611;
}

.connect img {
    display: inline;
    padding: 30px 15px;
    width: 50px;
    height: 50px;
}

.connect p {
    font-size: 18px;
    font-weight: bold;
}

